<nav class="mb-5 navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/movie">Ürünler</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/category">Kategoriler</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link" routerLink="/giris-yap" routerLinkActive="active">Giriş Yap</a>
        </li>
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link" routerLink="/kayit-ol" routerLinkActive="active">Kayıt Ol</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link" routerLink="/kayit-ol">Çıkış yap</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
